p{
    color:red ;
}

h3{
    color: coral;
}

body{
    background-color: aqua;
}
button{
    color:crimson;
    background-color: aquamarine;
    
}
#a{
    color:crimson;

}
#b{
    color:black;
}
.c{
    color:blueviolet;

}